body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.To-do-List {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.To-do-List input[type="text"] {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#to-Do-Body {
    margin: 0 auto;
    max-width: 700px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-button {
    /* Button styles */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-button:hover {
    /* Button hover styles */
    background-color: #45a049;
  }
  
  .add-button:active {
    /* Button active (clicked) styles */
    background-color: #3e8e41;
  }